<div class="index__layout">
  <!-- posts index -->
  <div class="index__posts">
    <% latestPosts.forEach(post => { %>
    <a href="/posts/<%= post.id %>" class="index__post-link link">
      <article class="index__post">
        <div class="index__post-image">
          <img src="<%= getImageUrl(post) %>" alt="Image" />
        </div>
        <header class="index__post-header">
          <h3 class="index__post-title"><%= post.title %></h3>
          <p class="index__post-date"><%= formatDate(post.date) %></p>
        </header>
      </article>
    </a>
    <% }) %>
  </div>

  <!-- sidebar -->
  <aside class="sidebar">
    <h3 class="sidebar__title">Recent Posts:</h3>
    <ul class="sidebar__list">
      <% posts.forEach(post => { %>
      <li class="sidebar__item">
        <a href="/posts/<%= post.id %>" class="sidebar__link link"
          ><%= post.title %></a
        >
      </li>
      <% }) %>
    </ul>
  </aside>
</div>
